@import "../../shared/variables";

.item {
  position: relative;

  &:hover {
    .content {
      display: block;
    }
  }
  
  a {
    align-items: center;
    background: transparent;
    border: none;
    color: $color-border-800;
    display: flex;
    border: none;
    font-size: $font-size-base;
    padding: 16px 20px;
    text-decoration: none;

    &:hover {
      background-color: $color-border-200;
    }

    &.active {
      color: $color-font;
      font-weight: 500;

      .icon > svg {
        fill: $color-font;
      }
    }

    .label {
      overflow: hidden;
      // text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 2px;
    }

    .icon {
      $size: 16px;

      align-items: center;
      display: inline-flex;
      margin-right: 12px;

      > svg {
        display: block;
        height: $size;
        width: $size;
        fill: $color-border-800;
      }
    }
  }

  .content {
    display: none;
    position: absolute;
    left: calc(100% - 4px);
    top: 0;
  }
}