@import "../../shared/variables";

.item {
  display: inline-block;
  margin-right: 20px;

  --xui-doc--icon: #{$color-font};

  &:hover {
    --xui-doc--icon: #{$color-base};

    .link:after {
      width: 50%;
    }

    .children {
      display: flex;
    }
  }

  .link {
    background: transparent;
    color: $color-font;
    cursor: pointer;
    display: block;
    line-height: 3rem;
    height: 3rem;
    padding: 0 1rem;
    position: relative;
    text-decoration: none;
    transition: 300ms color;

    &:after {
      background: $color-primary-400;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: 300ms width;
      width: 0;
    }
  }
  
  .children {
    background: $color-base;
    display: none;
    padding: 40px 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }
}