@import "../../shared/variables";

.column {
  width: auto;
  margin: 0 80px;

  h3 {
    font-size: $font-size-regular;
    white-space: nowrap;
    margin: 0 0 20px;
    padding: 0;
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: $font-size-base;
  }
}