@import "../../shared/variables";

.wrapper {
  background-color: $color-border-200;
  border-right: 1px solid $color-border-400;
  height: 100%;
  position: fixed;
  transition: width 300ms;
  width: 280px;
  z-index: 1;

  .menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 60px;

    &:hover {
      width: 280px;
    }
  }
}