@import "../../shared/variables";

.root {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  .wrapper {
    background-color: $color-base;
    flex: 1;
    height: 100%;
    overflow: auto;
  
    .content {
      margin: 0 auto;
      max-width: 980px;
    }
  }
}