@import "../../shared/variables";

.menu {
  text-align: right;
  margin: 0 0 20px;
  border-bottom: 1px solid $color-border-300;
  
  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    width: 100%;
    position: relative;
  }
}